.home_logo_hero {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 90vw;
    max-width: 90vw;
    margin: auto;
}

.home_logo {
    height: 70vh;
    background-color: var(--bg-accent);
    border-radius: 15px;
}

.home_nextsection {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.home_nextsection_btn {
    z-index: 1000;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border: .2rem solid var(--bg-accent);
    border-radius: 15px;
    filter: drop-shadow(.5rem .5rem 4px var(--bg-accent-two));
}

.home_nextsection_btn:hover,
.home_nextsection_btn:focus-visible {
    cursor: pointer;
    filter: opacity(85%);
    filter: drop-shadow(.5rem .5rem 4px var(--bg-accent-two));
}

.home_arrow_down {
    stroke: var(--bg-accent);
}

.home_image_slider {
    width: 90vw;
    aspect-ratio: 9 / 5;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    background-color: var(--bg-accent);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_image_video {
    width: 90vw;
    aspect-ratio: 9 / 5;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    background-color: var(--bg-accent);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_slider_wrapper {
    width: 85vw;
    aspect-ratio: 2;
}