*,
*::before,
*::after {
    box-sizing: border-box;
}

.imgslider {
    width: 100%;
    height: 100%;
    position: relative;
}

.imgslider_image {
    display:block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgslider_btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}

.imgslider_btn:hover {
    background-color: rgb(0, 0, 0, .25);
}

.imgslider_btn > * {
    stroke: white;
    fill: black;
    width: 2rem;
    height: 2rem;
}