.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    position: sticky; 
    top: 0;
    z-index: 500; 
    transition: background-color 250ms ease-in-out; 
}

.navbar.sticky {
    background-color: transparent;
}

.navbar_title {
    display: block;
    float: left;
    margin-top: auto;
    transition: ease-in-out 250ms;
}

.navbar_title:hover {
    filter: opacity(75%)
}

.nav_logo {
    height: calc(var(--nav-size)*(2/3));
    margin-top: calc(var(--nav-size)*(1/6));
    margin-bottom: calc(var(--nav-size)*(1/6));
    margin-left: 3vw;
}

.nav_links {
    margin-right: 4vw;
}

.nav_link {
    font-size: 1.1rem;
    color: var(--bg);
    background-color: var(--bg-accent);
    display: block;
    float: right;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: calc(7.5vh - 1.2rem);
    padding: .6rem 1.2rem .6rem 1.2rem;
    border: 3px var(--bg-accent-two) solid;
    border-radius: 15px;
    transition: ease-in-out 250ms;
}

.nav_link:hover {
    filter: opacity(75%);
}

.nav_updates {
    height: var(--nav-size);
}

.nav_contact {
    height: 5rem;
}

@media only screen and (max-width: 700px) {
    .nav_logo {
        height: calc(var(--nav-size)*(1/2));
        margin-top: calc(var(--nav-size)*(1/4));
        margin-bottom: calc(var(--nav-size)*(1/4));
        margin-left: 0;
        margin-right: 0;
    }
    .nav_link {
        align-items: center;
    }
}

.nav_mobile_menu_dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.nav_mobile_menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.nav_mobile_menu_x{
    display: flex;
    justify-content: end;
    height: 15vh;
    background: rgba(11, 11, 11, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
}

.nav_mobile_menu_x_btn {
    background-color: transparent;
    border: none;
}

.nav_mobile_menu_x_btn:hover {
    filter: opacity(75%);
    cursor: pointer;
}

.square {
    margin-right: 1.65rem;
    float: right;
    stroke: var(--bg);
    fill: var(--bg-accent);
}

.nav_mobile_menu_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    background-color: var(--bg-accent);
}

.nav_mobile_menu_title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--bg);
    margin-bottom: 0;
}

.nav_mobile_menu_link {
    color: var(--bg);
    font-size: 1.4rem;
    background-color: var(--bg-accent);
    padding: 1rem 25vw 1rem 25vw;
    margin: 10vw 0 10vw 0;
    border: 3px var(--bg-accent-two) solid;
    border-radius: 15px;
}