:root {
    --nav-gradient-size: 5vh;
    --nav-size: 10vh;
    --footer-size: 10vh;
    --bg: #cfd2e4;
    --bg-accent: #000000;
    --alt: #17207a;
    --alt-two: #0a21c0;
    --alt-three: #3c50d0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    font-family: WF Visual Sans, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--bg-accent);
    text-decoration: none;
}